   # Игнорировать файлы Python кэша
   __pycache__/
   *.pyc

   # Игнорировать виртуальные окружения
   venv/
   env/

   # Игнорировать файлы конфигурации IDE
   .idea/
   .vscode/

   # Игнорировать файлы среды
   .env

   # Игнорировать другие временные файлы
   *.log
   *.DS_Store
   